<div fxLayout="column">
  <mat-card>
    <mat-card-title>Quiz Selection</mat-card-title>
    <mat-card-content>
      <h2>Welcome to NodeQuiz, <span class="bold">{{ user.firstName }}!</span></h2>
      <p>Please select an option below to view a presentation and take a quiz!</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        *ngFor="let quiz of quizzes"
        mat-raised-button
        [ngClass]="quiz.slug + '-btn'"
        [routerLink]="'/presentations/' + quiz.slug"
      >
        {{ quiz.title }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>