@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.enterprise-javascript-bg {
    background-color: green;
}

.restful-apis-bg {
    background-color: blue;
}

.devops-bg {
    background-color: indigo;
}

.enterprise-javascript-color {
    color: green;
}

.restful-apis-color {
    color: blue;
}

.devops-color {
    color: indigo;
}

.quiz-btn {
    color: rgba(255,255,255,0.8);
    transition: color 100ms ease-in-out;
    -webkit-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
}

.quiz-btn:hover {
    color: white;
}